.wrapper {
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
}

.app {
  width: 590px;
  background: #fff;
  margin: 130px 0 40px 0;
  position: relative;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
}

.main {
  position: relative;
  z-index: 2;
  border-top: 1px solid #e6e6e6;
}
